.cart-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

/* Title-frame */

.title-frame {
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title-frame .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  margin-bottom: 60px;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 28px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.container p {
  margin-bottom: 26px;
  color: rgba(0, 0, 0, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.container .rectangle-star {
  width: 425px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rectangle-star .yellow-line {
  width: 241px;
  height: 6px;
  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
}

.rectangle-star .star {
  width: 37px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 2px solid rgba(245, 195, 75, 1);
  border-radius: 40px;
  background: rgba(255, 255, 255, 1);
}

.rectangle-star .gray-line {
  width: 165px;
  height: 6px;
  border-radius: 6px;
  background: var(--border);
}

/* Cart-info-frame */

.cart-info-frame {
  margin-top: 50px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.cart-info-frame .container {
  flex-direction: row;
}

.container .cart-info-box {
  width: 872px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.cart-info-box .cart-info-top {
  width: 100%;
  height: 619px;
}

.cart-info-top table {
  width: 100%;
  height: 619px;
  border: 1px solid var(--border);
}

.cart-info-top table thead {
  background-color: var(--border);
}

.cart-info-top table tbody tr .td-1 {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-info-top table tbody tr .product-row-info {
  margin-left: 37px;
  width: 192px;
  height: 122px;
  display: flex;
  flex-direction: column;
}

tbody tr .product-row-info span,
tbody tr .product-row-info strong {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

table tbody tr td {
  text-align: center;
}

.container .cart-info-bottom {
  margin-top: 30px;
  width: 872px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-info-bottom .coupon-box {
  margin-right: 145px;
  width: 360px;
  height: 52px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px dashed var(--border);
}

.coupon-box span {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.coupon-box a {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-decoration-line: underline;
}

.cart-info-bottom .btn-1 {
  width: 198px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;

  border: 2px solid rgba(245, 195, 75, 1);
  border-radius: 6px;
  /* Button-Shadow */
  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
}

.cart-info-bottom .btn-2 {
  width: 150px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.container .checkout-box {
  padding: 0 27px;
  margin-left: 25px;
  width: 422px;
  height: 418px;

  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.checkout-box h4 {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
}

.checkout-box .chackout-info {
  display: flex;
  justify-content: space-between;
}

.checkout-box .chackout-info strong {
  /* margin-right: 181px; */
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
}

.checkout-box .chackout-info span {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align: right;
}

/* HORIZONTAL-LINE */

.container .horizontal-line {
  margin: 18px 0;
  width: 637px;
  height: 1px;
  background-color: var(--border);
}

.container .checkout-box a {
  margin-top: 35px;
  width: 365px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
