:root {
  --font: "Jost";
  --border: #eaeaea;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/* NAVBAR */

.navbar-frame {
  position: sticky;
  top: 0;
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  background: rgba(68, 50, 151, 1);
  z-index: 10;
}

.navbar-frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar-frame .navbar-top {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navbar-frame .navbar-top > a img {
  height: 36px;

  margin-right: 76px;
}

.navbar-frame .navbar-top .nav-search-frame {
  width: 650px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.navbar-frame .navbar-top .search-box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-frame .search-box .category-list {
  width: 166px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #d6d6d6;
}

.navbar-frame .category-list select {
  width: 140px;
  height: 30px;
  font-style: normal;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  border: none;
  outline: none;
}
.navbar-frame .search-box input {
  width: 387px;
  height: 22px;
  margin-left: 12px;
  border: none;
  outline: none;

  font-style: normal;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #626974;
}

.navbar-frame .nav-search-frame .search-icon-box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  background: rgba(245, 195, 75, 1);
}
.navbar-frame .search-icon-box {
  width: 20px;
  height: 20px;
}

.navbar-frame .navbar-top .nav-top-menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-frame .nav-top-menu .top-menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar-frame .top-menu-box .box-icon-box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.navbar-frame .box-icon-box img {
  width: 22px;
  height: 22px;
}

.navbar-frame .top-menu-box .box-info-box {
  display: flex;
  flex-direction: column;
}

.navbar-frame .box-info-box span {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.navbar-frame .box-info-box strong {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.navbar-frame .box-icon-box .basket-count {
  position: absolute;
  top: -2px;
  right: -3px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-family: var(--font);
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;

  border-radius: 50%;
  color: #0b1e40;
  background-color: #f5c34b;
}

.navbar-frame .navbar-bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
}

.navbar-frame .navbar-bott .navbar-bott-menu-box {
  margin-top: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.navbar-frame .navbar-bott-menu-box .browse-box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5746a1;
}

.navbar-frame .browse-box img {
  width: 20px;
  height: 18px;
  margin-right: 10px;
}

.navbar-frame .browse-box span {
  font-style: normal;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #ffffff;
}

.navbar-frame .navbar-bott-menu-box .navbar-route-menu {
  margin-left: 12px;
  width: 690px;
  display: flex;
  flex-direction: row;
}

.navbar-frame .navbar-route-menu .router-menu {
  width: auto;
  height: 40px;
  display: flex;
  margin-right: 20px;
}

.navbar-frame .router-menu a {
  font-style: normal;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
}

.navbar-frame .router-menu a.active {
  color: #f5c34b;
}

.navbar-frame .navbar-bott-menu-box .sorting-menu {
  display: flex;
  flex-direction: row;
}

.navbar-frame .sorting-menu span {
  margin-left: 20px;
  font-style: normal;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #ffffff;
}

/* Router-frame */

.router-frame {
  position: relative;
  margin: 20px 0px;
  width: 1320px;
  height: auto;

  background: rgba(255, 255, 255, 1);
}

.router-frame span {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.router-frame span.drop {
  margin: 0 10px;
}

.router-frame span.active {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #626974;
}

/* PAGINATION */

.container .pagination-box {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .pagination-box .pagination-main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination-main .pagination-dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.pagination-main img {
  cursor: pointer;
}

.container .pagination-dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.container .pagination-dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}

.container .pagination-dot .dot div {
  width: 4px;
  height: 4px;
  background-color: #112137;
  border-radius: 50%;
}

/* FOOTER */

.footer-frame {
  padding: 90px 0 20px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background: rgba(243, 245, 246, 1);
}

.footer-spec-title {
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}

.footer-frame .container {
  flex-direction: column;
}

.container .footer-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top .footer-contact-box {
  display: flex;
  flex-direction: column;
}

.footer-contact-box .footer-contact-main {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.footer-contact-main img {
  width: 35px;
  height: 30px;
}

.footer-contact-main div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer-contact-main div strong {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.footer-contact-main div span {
  margin-top: 10px;
  color: rgba(4, 30, 66, 1);
  font-style: normal;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.footer-supservices-box {
  margin-left: 75px;
  display: flex;
  flex-direction: column;
}

.footer-supservices-box .footer-supservices-main {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.footer-supservices-main a {
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.footer-top .footer-media-box {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.footer-media-box .footer-follow-box {
  display: flex;
  flex-direction: column;
}

.footer-follow-box .footer-social-box {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.footer-social-box i {
  margin-right: 25px;
}

.footer-media-box .footer-mobile-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-mobile-box .mobile-app-box {
  margin-top: 8px;
}

.mobile-app-box span {
  margin-left: 18px;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;

  text-align: left;
}

.footer-top .footer-accept-box {
  margin: 125px 0 0 60px;
  display: flex;
  flex-direction: column;
}

.footer-accept-box .payment-cards {
  margin-top: 25px;
  width: 272px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .footer-bottom {
  margin-top: 80px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-top: 1px solid rgba(234, 234, 234, 1);
}

.footer-bottom .footer-bottom-main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer-bottom-main .footer-bottom-left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer-bottom-left span {
  margin-right: 60px;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.footer-bottom-main .footer-bottom-right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom-right .footer-select-box {
  padding: 10px 20px;
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid var(--Color/Border, rgba(234, 234, 234, 1));
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.footer-select-box span {
  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.footer-select-box select {
  background: none;
  outline: none;
  border: none;

  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;

  cursor: pointer;
}
