.home-page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.white-svg {
  filter: brightness(0) invert(1);
}

/* Category-top */

.container .category-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category-top div {
  display: flex;
  flex-direction: row;
}

.container .category-top span {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
}

.container .category-top a {
  margin-left: 30px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.container .category-top a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}
/* PAGINATION */

.container .pagination-box {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination-box .pagination-main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagination-main .pagination-dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.pagination-main img {
  cursor: pointer;
}

.container .pagination-dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.container .pagination-dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}

.container .pagination-dot .dot div {
  width: 4px;
  height: 4px;
  background-color: #112137;
  border-radius: 50%;
}

/* HOVER-BORDER */

.container .hover-border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: rgba(4, 30, 66, 1);
}

.container .next-prew-box {
  width: 25px;
}

.container .next-prew-box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

/* PRODUCT-BOX */

.container .product-box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.container .product-box:hover {
  border: 1px solid #eaeaea;
}

.container .product-box .product-img-box {
  width: 100%;
  height: 280px;
}

.container .product-img-box .hover-box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container .hover-box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  text-align: center;
}

.container .product-img-box:hover .hover-box {
  display: flex;
}

.container .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container .product-content-box .product-title {
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}

.container .product-content-box .product-desc {
  margin-top: 7px;
  height: 56px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.container .product-content-box .review-box {
  margin-top: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .review-box img {
  margin-right: 5px;
}

.container .review-box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.container .product-content-box .price-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price-box strong {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.container .price-box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
}

/* HEADER */
.header-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header-frame .container {
  flex-direction: row;
}

.header-frame .container .header-left {
  position: relative;
  width: 875px;
  height: 508px;
  background-color: #0053f6;
  background-image: url("../images2/images/icons/header_bg.svg");
  border-radius: 5px;
}

.header-frame .header-left .header-content {
  margin-top: 90px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.header-frame .header-content div {
  width: 104px;
  height: 30px;
  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.header-frame .header-content span {
  margin-top: 10px;
  width: 428px;

  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
}

.header-frame .header-content p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.header-frame .header-content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header-frame .header-content img {
  position: absolute;
  right: 10px;
}

.header-frame .container .header-right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-frame .header-right .header-box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;

  border-radius: 5px;
}

.header-frame .header-right .box-left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-frame .box-left span {
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header-frame .box-left p {
  margin: 10px 0;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.header-frame .box-left a {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header-frame .header-right .box-right {
  width: 50%;
}

.header-frame .box-right img {
  width: 100%;
  height: 100%;
}

.header-frame .box-left .hover-border-2 {
  margin-top: 3px;
  width: 127px;
  height: 2px;
  background: rgba(4, 30, 66, 1);
}

/* SERVICE */

.home-page .service-frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.service-frame .container {
  flex-direction: row;
  justify-content: space-between;
}

.service-frame .container .service-box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.service-frame .service-box img {
  width: 35px;
  height: 35px;
}

.service-frame .service-box .service-content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service-frame .service-content span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.service-frame .service-content p {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

/* SHOP CATEGORY */

.shop-category-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.shop-category-frame .container {
  flex-direction: column;
}

.shop-category-frame .container .category-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-category-frame .category-wrapper .category-box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop-category-frame .category-box .category-img-box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.shop-category-frame .category-box span {
  margin-top: 15px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

/* SELLING PRODUCTS */

.selling-product-frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling-product-frame .container {
  flex-direction: column;
}

.selling-product-frame .container .product-wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling-product-frame .product-wrapper .next-prew-box {
  width: 25px;
}

.selling-product-frame .next-prew-box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.selling-product-frame .product-wrapper .product-boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

/* ADV-FRAME */

.home-page .adv-frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5edff;

  color: rgba(0, 83, 246, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* SPEC-PRODUCT */

.home-page .spec-product-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec-product-frame .container {
  flex-direction: column;
}

.container .spec-product-wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec-product-wrapper .big-product-box {
  padding: 30px;
  position: relative;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.big-product-box .big-product-content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big-product-content span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.big-product-content p {
  margin: 7px 0;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.big-product-content a {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.big-product-box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.spec-product-wrapper .small-product-wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-product-box:nth-last-child(-n + 2) {
  top: 12px;
}

.small-product-wrapper .small-product-box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.small-product-box:nth-child(even) {
  margin-left: 30px;
}

.small-product-box .small-product-content {
  display: flex;
  flex-direction: column;
}

.small-product-content strong {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.small-product-content span {
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.small-product-box img {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

/* TV-FRAME */

.home-page .tv-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv-frame .container {
  flex-direction: column;
}

.container .tv-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv-wrapper .tv-product-boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.tv-product-boxes .tv-product-box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
}

.tv-product-box .product-img {
  width: 100%;
  height: 280px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* EVENT-FRAME */

.home-page .event-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url("../images2/images/icons/event_bg.png");
}

.event-frame .container {
  flex-direction: row;
  justify-content: center;
}

.container .event-content-box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-content-box .event-title {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;

  text-align: left;
}

.event-content-box .timer-wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}
.timer-wrapper .timer-box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.timer-box strong {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

.timer-box span {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.event-content-box a {
  width: 140px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid var(--Bg / White, rgba(255, 255, 255, 1));
  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.container .event-product-wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.event-product-wrapper .event-product-boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-product-boxes .event-product-box {
  margin-right: 8px;
  width: 205px;
  height: 392px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #ffffff;
}

.event-product-box .event-product-img {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
